.weather{
    background: #16394c;
    border: 4px solid #608094;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
@media only screen and (max-width: 400px) {
    .weatherRow {
        flex-direction: column;
    }
    img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
.weatherRow{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
}

.weatherCol{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.weatherBase{
    height: 25vh;
    width: 80vw;
    margin: 10px;
}